@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Inter:wght@400;500;700&family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1A1A;
  color: #e5e2e1;
  font-family: 'Inter', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

/* Brutalist details */
.brutalist-border {
  border: 1px solid #FFFFFF;
}

.brutalist-border-focus:focus-within {
  border: 2px solid #F5C200;
}

.heavy-btn {
  transition: transform 0.1s ease, filter 0.1s ease;
}

.heavy-btn:active {
  transform: scale(0.97);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1A1A1A;
}
::-webkit-scrollbar-thumb {
  background: #f5c200;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffe299;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1c1b1b;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f5c200;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
